
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10vh 0 40vh 0;
}

h2{
    margin: 2%;
}

.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        font-size: 1.6rem;
        line-height: 1.4;

        #pass{
            margin-top: 30px;
        }
        
        #lower{
            display: flex;
        // flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin-top: 20px;
        }

        input[type=submit] {
        .button-style(@btn-bg-color, @wild-sand);

        width: 110px;
        padding: 3% 0;
        border-radius: 6px;
        text-align: center;
        font-family: 'Russo One', sans-serif;
        font-size: 1.7rem;
        margin: 20px;
    }
    }

    
}